:root {
  --color-background: white;

  --color-border: rgb(200, 200, 200);

  --color-heading: green;
  --color-text: black;
  --color-footer: rgb(200, 200, 200);

  --color-background-table-header: rgb(220, 220, 255);
  --color-background-table-focus: rgb(255, 255, 100);
  --color-background-table-extra-focus: rgb(200, 255, 200);

  --section-gap: 10rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  /*margin: 0;*/
  /*font-weight: normal;*/
}

body {
  margin: 0;
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
}
